<div>
    <div class="p-5">
        <span class="text-2xl mx-2 font-semibold  text-indigo-600">Instructor</span>
    </div>
    <div class="h-1 bg-indigo-50">
        <nav class="p-4">
            <a routerLink="/instructor/dashboard" [routerLinkActive]="['active-link']"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
                <span class="mx-3 text-lg font-semibold">Dashboard</span>
            </a>
            <a routerLink="/instructor/courses" [routerLinkActive]="['active-link']"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
                <span class="mx-3 text-lg font-semibold">Courses</span>
            </a>
            <a routerLink="/instructor/dashboard"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
                <span class="mx-3 text-lg font-semibold">Students</span>
            </a>
            <a routerLink="/instructor/dashboard"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
                <span class="mx-3 text-lg font-semibold">Messages</span>
            </a>
            <a (click)="logout()"
                class="flex items-center cursor-pointer rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
                <span class="mx-3 text-lg font-semibold">Logout</span>
            </a>
        </nav>
    </div>