<div class="bg-indigo-50 font-sans leading-normal tracking-normal flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="bg-white text-white w-full md:w-64 h-16 md:h-screen fixed md:relative overflow-auto">
        <!-- Sidebar content -->
        <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="flex-1 ml-1 bg-white" (click)="closeDropdownOutsideClick($event)">
        <!-- Header -->
        <!-- <header class="bg-white shadow">
            <div class="flex items-center justify-between p-4">
                <h1 class="text-lg font-semibold">Admin Dashboard</h1>
            </div>
        </header> -->

        <!-- Main Content -->
        <main class="px-4">
            <!-- Main content goes here -->
            <h2 class="text-2xl font-semibold text-indigo-600">Instructors</h2>
            <div class="mt-4">
                <table class="min-w-full">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                No
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Name
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Email
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Status
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Verified
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                ACTION
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <tr *ngFor="let instructor of instructors; let i = index">
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ i + 1 }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ instructor.username }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ instructor.email }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span *ngIf="!instructor.isBlocked" class="bg-green-100 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">ACTIVE</span>
                                <span *ngIf="instructor.isBlocked" class="bg-red-100 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">BLOCKED</span>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span *ngIf="instructor.isVerified" class="bg-green-100 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">VERIFIED</span>
                                <span *ngIf="!instructor.isVerified" class="bg-red-100 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">NOT VERIFIED</span>
                            </td>
                            <td class="px-6 py-3 whitespace-pre-wrap flex">
                                <div class="relative">
                                    <button id="dropdownDefaultButton{{i+1}}" type="button" (click)="toggleDropdown(i+1, $event)"
                                        class="bg-white hover:bg-indigo-100 hover:cursor-pointer border-none focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
                                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 4 16">
                                            <circle cx="2" cy="2" r="2" fill="currentColor" class="text-gray-500" />
                                            <circle cx="2" cy="8" r="2" fill="currentColor" class="text-gray-500" />
                                            <circle cx="2" cy="14" r="2" fill="currentColor" class="text-gray-500" />
                                        </svg>
                                        <span class="sr-only">Icon description</span>
                                    </button>
                                    <div id="dropdown{{i+1}}" [ngClass]="{ 'hidden': !isDropdownOpen[i+1], 'dropdown-menu': true }"
                                        class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md overflow-hidden z-10 border-2 border-solid border-indigo-100">
                                        <div class="m-1 rounded-sm hover:bg-indigo-100 flex flex-row hover:cursor-pointer">
                                            <lucide-icon name="pencil" class="my-icon pl-1 py-1 text-indigo-600"></lucide-icon>
                                            <a (click)="$event.preventDefault()" class="block px-4 py-2 text-sm text-indigo-600">Edit</a>
                                        </div>
                                        <div (click)="openProfile(instructor._id)" class="m-1 rounded-sm hover:bg-indigo-100 flex flex-row hover:cursor-pointer">
                                            <lucide-icon name="circle-user-round" class="my-icon pl-1 py-1 text-indigo-600"></lucide-icon>
                                            <a (click)="$event.preventDefault()" class="block px-4 py-2 text-sm text-indigo-600">Profile</a>
                                        </div>
                                        <div *ngIf="!instructor.isVerified" class="m-1 rounded-sm hover:bg-indigo-100 flex flex-row hover:cursor-pointer">
                                            <lucide-icon name="badge-check" class="my-icon pl-1 py-1 text-green-500"></lucide-icon>
                                            <a (click)="$event.preventDefault()" class="block px-4 py-2 text-sm text-green-500">Verify</a>
                                        </div>
                                        <div *ngIf="instructor.isVerified" class="m-1 rounded-sm hover:bg-indigo-100 flex flex-row hover:cursor-pointer">
                                            <lucide-icon name="badge-x" class="my-icon pl-1 py-1 text-red-500"></lucide-icon>
                                            <a (click)="$event.preventDefault()" class="block px-4 py-2 text-sm text-red-500">Unverify</a>
                                        </div>
                                        <div class="m-1 rounded-sm hover:bg-indigo-100 flex flex-row hover:cursor-pointer">
                                            <lucide-icon name="trash-2" class="my-icon pl-1 py-1 text-indigo-600"></lucide-icon>
                                            <a (click)="$event.preventDefault()" class="block px-4 py-2 text-sm text-indigo-600">Block</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <button *ngIf="course.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-green-500 rounded-lg border-none hover:bg-green-600 focus:ring-4 focus:outline-none">Unblock</button>
                                        <button *ngIf="!course.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-red-500 rounded-lg border-none hover:bg-red-600 focus:ring-4 focus:outline-none">Block</button> -->
                            </td>
                            <!-- <td class="px-6 py-3 whitespace-pre-wrap flex">
                                <button *ngIf="instructor.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-green-500 rounded-lg border-none hover:bg-green-600 focus:ring-4 focus:outline-none" (click)="toggleBlockStatus(instructor)">Unblock</button>
                                <button *ngIf="!instructor.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-red-500 rounded-lg border-none hover:bg-red-600 focus:ring-4 focus:outline-none" (click)="toggleBlockStatus(instructor)">Block</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>