<div class="min-h-screen flex ">
  <!-- Left side for image -->

  <!-- Custom Toast -->
  <custom-toast [customToastService]="customToastService"></custom-toast>

  <div class="hidden lg:block lg:w-1/2">
    <img *ngIf="type === 'student'" [src]="'assets/images/learninglogin.png'" alt="Image" class="object-cover w-full h-full p-4">
    <img *ngIf="type === 'instructor'" [src]="'assets/images/learningsignup.png'" alt="Image" class="object-cover w-full h-full p-4">
    <img *ngIf="type === 'admin'" [src]="'assets/images/learningsignup.png'" alt="Image" class="object-cover w-full h-full p-4">
  </div>

  <!-- Right side for login form -->
  <div class="w-full lg:w-1/2 p-8 flex justify-center mt-20">
    <!-- Login form -->
    <form class="w-full max-w-sm" [formGroup]="signinForm" (ngSubmit)="onSubmitClick()">
      <h1 class="text-indigo-600 mb-0">{{ headding }}</h1>
      <!-- <h1 class="text-indigo-600 mb-0">Welcome back !</h1> -->
      <!-- <h1 class="text-black mb-0">Welcome back !</h1> -->
      <p class="text-xs text-gray-600 font-medium">{{ tag }}</p>
      <div class="mb-4 mt-8">
        <label for="email" class="block mb-2 text-base text-black font-semibold">Email</label>
        <input type="email" id="email" formControlName="email"
          class="form-control  text-indigo-600 placeholder-indigo-600 text-sm rounded-lg  w-full p-3 border-2 border-solid border-indigo-200 focus:border-indigo-600"
          placeholder="Email" required />
        <span *ngIf="signinForm.get('email')?.hasError('required') && (signinForm.get('email')?.touched)"
          class="text-xs font-semibold text-red-600">Email is required.</span>
        <span *ngIf="signinForm.get('email')?.hasError('emailInvalid') && (signinForm.get('email')?.touched)"
          class="text-xs font-semibold text-red-600">Enter a valid eamil.</span>
      </div>
      <div class="mb-4 mt-8">
        <label for="email" class="block mb-2 text-base text-black font-semibold">Password</label>
        <input type="password" id="password" formControlName="password" appPasswordValidator
          class="form-control  text-indigo-600 placeholder-indigo-600 text-sm rounded-lg  w-full p-3 border-2 border-solid border-indigo-200 focus:border-indigo-600"
          placeholder="password" required />
        <span *ngIf="signinForm.get('password')?.hasError('required') && (signinForm.get('password')?.touched)"
          class="text-xs font-semibold text-red-600">Password is requried.</span>
        <span *ngIf="signinForm.get('password')?.hasError('maxlength') && (signinForm.get('password')?.touched)"
          class="text-xs font-semibold text-red-600">Password cannot exceed 20 characters.</span>
        <span *ngIf="signinForm.get('password')?.hasError('pattern') && (signinForm.get('password')?.touched)"
          class="text-xs font-semibold text-red-600">Password must include uppercase, lowercase, digit, and special
          character.</span>
      </div>
      <!-- <div class="mb-4 mt-8">
                <label for="username" class="block text-gray-700 font-bold mb-2">Username</label>
                <input type="text" id="username" name="username" class="w-full border rounded-md py-2 px-3 text-gray-700 focus:outline-none focus:border-blue-500">
            </div> -->
      <!-- <div class="mb-4 mt-8">
              <label for="email" class="block mb-2 text-sm text-violet font-semibold">Email</label>
              <input type="email" id="email" class=" text-violet placeholder-indigo-400 text-sm rounded-lg  w-full p-2.5 border-2 border-solid border-gray-300 focus:border-violet" placeholder="Email" required />
            </div> -->
      <!-- <reusable-form-input label="Email" type="email" placeholder="Email"></reusable-form-input> -->
      <!-- <span class="text-sm text-red-600">Enter a valid
            email</span> -->
      <!-- <reusable-form-input label="Password" type="password" placeholder="Password"></reusable-form-input> -->
      <p class="text-xs font-semibold text-left"><a href=""
          class="text-indigo-600 no-underline hover:text-indigo-800">Forgot password?</a></p>
      <auth-form-btn [value]="'Login'" [bg]="'bg-indigo-600'"></auth-form-btn>
      <!-- <button type="submit" class="text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 w-full" style="outline: none;">Login</button> -->
      <!-- <div *ngIf="type === 'student'" class="flex items-center mt-1">
        <hr class="w-2/6">
        <p class="text-xs">Or, Login with</p>
        <hr class="w-2/6">
      </div>
      <button *ngIf="type === 'student'" (click)="googleSignin()"
        class="w-full bg-indigo-200 text-indigo-500 text-base p-3 rounded-md hover:cursor-pointer border-none border-blue-100 hover: hover:bg-indigo-700 hover:text-white focus:outline-none">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 18 19">
          <path fill-rule="evenodd"
            d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z"
            clip-rule="evenodd" />
        </svg>
        Sign in with Google
      </button> -->
      <p *ngIf="type === 'student'" class="text-xs text-gray-600 font-semibold text-center">Dont have an account? <a routerLink="/signup"
          class="text-indigo-600 no-underline hover:text-indigo-800">Register here</a></p>
      <p *ngIf="type === 'instructor'" class="text-xs text-gray-600 font-semibold text-center">Dont have an account? <a routerLink="/instructor-signup"
          class="text-indigo-600 no-underline hover:text-indigo-800">Register here</a></p>
    </form>
  </div>
</div>