<custom-toast [customToastService]="customToastService"></custom-toast>
<div class="bg-gray-100 font-sans leading-normal tracking-normal flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="bg-white text-white w-full md:w-64 h-16 md:h-screen fixed md:relative overflow-auto">
        <!-- Sidebar content -->
        <app-sidebar></app-sidebar>
    </div>
    <div>
        <!-- Main content -->
        <main class="p-4">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>