<!-- sidebar -->
<!-- <div class="flex"> -->

<!-- <app-sidebar></app-sidebar> -->
<!-- main content -->
<!-- <app-dashboard/> -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->

<!-- <div class="min-h-screen flex "> -->
<!-- sidebar -->
<!-- <div class="hidden lg:block lg:w-1/5"> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- </div> -->

<!-- main content -->
<!-- <div class="w-full lg:w-4/5 bg-blue-400"> -->
<!-- <router-outlet></router-outlet> -->
<!-- </div> -->
<!-- </div> -->

<!-- admin-dashboard.component.html -->

<div class="bg-gray-100 font-sans leading-normal tracking-normal flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="bg-white text-white w-full md:w-64 h-16 md:h-screen fixed md:relative overflow-auto">
        <!-- Sidebar content -->
        <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="flex-1">
        <!-- Header -->
        <!-- <header class="bg-white shadow">
            <div class="flex items-center justify-between p-4">
                <h1 class="text-lg font-semibold">Admin Dashboard</h1>
            </div>
        </header> -->

        <!-- Main Content -->
        <main class="p-4">
            <!-- Main content goes here -->
            <router-outlet></router-outlet>
        </main>
    </div>
</div>