<div class="bg-indigo-50 font-sans leading-normal tracking-normal flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="bg-white text-white w-full md:w-64 h-16 md:h-screen fixed md:relative overflow-auto">
        <!-- Sidebar content -->
        <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="flex-1">
        <!-- Header -->
        <!-- <header class="bg-white shadow">
            <div class="flex items-center justify-between p-4">
                <h1 class="text-lg font-semibold">Admin Dashboard</h1>
            </div>
        </header> -->

        <!-- Main Content -->
        <main class="px-4">
            <!-- Main content goes here -->
            <h2 class="text-2xl font-semibold text-indigo-600">Students</h2>
            <div class="mt-4">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                No
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Name
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Email
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                Status
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                                ACTION
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        <!-- Example row -->
                        <tr *ngFor="let user of users; let i = index">
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ index + i }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ user.username }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <div class="text-sm font-medium text-gray-500">{{ user.email }}</div>
                            </td>
                            <td class="px-6 py-3 whitespace-nowrap">
                                <span *ngIf="!user.isBlocked" class="bg-green-100 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">ACTIVE</span>
                                <span *ngIf="user.isBlocked" class="bg-red-100 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">BLOCKED</span>
                            </td>
                            <td class="px-6 py-3 whitespace-pre-wrap flex">
                                <button *ngIf="user.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-green-500 rounded-lg border-none hover:bg-green-600 focus:ring-4 focus:outline-none" (click)="toggleBlockStatus(user)">Unblock</button>
                                <button *ngIf="!user.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-red-500 rounded-lg border-none hover:bg-red-600 focus:ring-4 focus:outline-none" (click)="toggleBlockStatus(user)">Block</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="pagination" class="pagination-controls flex justify-center mt-3">
                    <div class="flex items-center">
                            <button (click)="prevPage()"
                            class="bg-indigo-100 pt-3 pb-2 px-3 text-indigo-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100 hover:bg-indigo-200 hover:text-indigo-400 focus:outline-none">
                            <lucide-icon name="chevron-left" class="my-icon"></lucide-icon>
                          </button>
                        <span class="mx-6 pt-1">Page {{ currentPage }} of {{ totalPages }}</span>
                        <button (click)="nextPage()"
                          class="bg-indigo-100 pt-3 pb-2 px-3 text-indigo-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100 hover:bg-indigo-200 hover:text-indigo-400 focus:outline-none">
                          <lucide-icon name="chevron-right" class="my-icon"></lucide-icon>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>