<div class=" font-sans leading-normal tracking-normal flex flex-col md:flex-row">
    <!-- Sidebar -->
    <div class="bg-white text-white w-full md:w-64 h-16 md:h-screen fixed md:relative overflow-auto">
        <!-- Sidebar content -->
        <app-sidebar></app-sidebar>
    </div>

    <!-- Main Content Area -->
    <div class="flex-1 border-l-4 border-indigo-50 border-solid h-screen overflow-y-auto">
        <!-- Header -->
        <!-- <header class="bg-white shadow">
            <div class="flex items-center justify-between p-4">
                <h1 class="text-lg font-semibold">Admin Dashboard</h1>
            </div>
        </header> -->

        <!-- Main Content -->
        <main class="p-4">
            <!-- Main content goes here -->
            <!-- <h2 class="text-2xl font-semibold text-indigo-600">Dashboard</h2> -->

            <div class="grid gap-7 lg:grid-cols-3">
                <div class="p-5 bg-gray-50 flex rounded shadow-sm">
                    <div
                        class="bg-green-100 px-4 pt-1 flex justify-between items-center text-green-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100">
                        <lucide-icon name="indian-rupee" class="my-icon"></lucide-icon>
                    </div>
                    <div class="flex flex-col pl-6">
                        <div class="text-base text-gray-400 ">Total Revanue</div>
                        <div class="flex items-center pt-1">
                            <div class="text-xl font-bold text-gray-900 ">₹ {{ totalRevenue }}</div>
                        </div>
                    </div>
                </div>
                <div class="p-5 bg-gray-50 flex rounded shadow-sm">
                    <div
                        class="bg-rose-100 px-4 pt-1 flex justify-between items-center text-rose-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100">
                        <lucide-icon name="trending-up" class="my-icon"></lucide-icon>
                    </div>
                    <div class="flex flex-col pl-6">
                        <div class="text-base text-gray-400 ">Trending Course</div>
                        <div class="flex items-center pt-1">
                            <div class="text-xl font-bold text-gray-900 ">{{ trendingCourse }}</div>
                        </div>
                    </div>
                </div>
                <div class="p-5 bg-gray-50 flex rounded shadow-sm">
                    <div
                        class="bg-indigo-100 px-4 pt-1 flex justify-between items-center text-indigo-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100">
                        <lucide-icon name="users-round" class="my-icon"></lucide-icon>
                    </div>
                    <div class="flex flex-col pl-6">
                        <div class="text-base text-gray-400 ">Total Students</div>
                        <div class="flex items-center pt-1">
                            <div class="text-xl font-bold text-gray-900 ">{{ totalStudents }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex mt-12">
                <!-- Overall Chart -->
                <div class="card w-full lg:w-1/2 p-4">
                    <p-chart class="h-80" type="line" [data]="overallData" [options]="options"></p-chart>
                </div>
                <!-- Individual Course Chart -->
                <div class="card w-full lg:w-1/2 p-4">
                    <p-chart class="h-80" type="line" [data]="individualData" [options]="options"></p-chart>
                </div>
            </div>

            <div class="flex mt-12">
                <!-- Individual Course Revenue Chart -->
                <div class="card w-full lg:w-1/2 p-4">
                    <p-chart type="bar" [data]="revenueData" [options]="options"></p-chart>
                </div>
                <!-- Course Completion Rate -->
                <div *ngIf="courseCompletionRates !== null" class="card w-full h- lg:w-1/2 p-4">
                    <div class="text-lg  font-bold p-4">Completion Rate</div>
                    <div *ngFor="let courseCompletionRate of courseCompletionRates" class="w-full p-4">
                        <div>
                            <span class="text-base text-gray-600 font-bold">{{ courseCompletionRate.courseName }}</span>
                        </div>
                        <div class="flex items-center">
                            <div class="w-full bg-indigo-100 rounded-full h-2.5">
                                <div class="bg-indigo-600 h-2.5 rounded-full"
                                    [ngStyle]="{'width': courseCompletionRate.completionRate + '%'}"></div>
                            </div>
                            <span class="text-base pl-4 font-medium">{{ courseCompletionRate.completionRate }}%</span>
                        </div>
                    </div>
                </div>
            </div>


        </main>
    </div>
</div>