<div class="flex">
  <div class="w-1/4 flex flex-col h-screen">
    <div class="overflow-y-auto border-r border-gray-300 scrollbar-hidden">
      <div class="p-5 flex">
        <button (click)="navigateToStudents()"
          class="pt-3 pb-2 px-3 bg-white text-indigo-400 text-xs rounded-full hover:cursor-pointer border-none border-blue-100 hover:bg-indigo-100 hover:text-indigo-400 focus:outline-none">
          <lucide-icon name="arrow-left" class="my-icon"></lucide-icon>
        </button>
        <span class="text-2xl mx-2 pt-2 font-semibold  text-indigo-600">Students</span>
      </div>
      <nav class="p-4">
        <a (click)="selectStudent(student._id)" *ngFor="let student of students"
          [ngClass]="{'bg-indigo-100': selectedStudentId == student._id}"
          class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-50 hover:text-indigo-600 hover:cursor-pointer">
          <span class="mx-3 text-lg font-semibold">{{ student.username }}</span>
        </a>
      </nav>
    </div>
  </div>


  <div class="w-3/4 flex flex-col h-screen">

    <div #chatContainer class="overflow-y-auto h-screen messages bg-indigo-50 p-4">
      <div *ngFor="let chatmessage of chatmessages" [ngClass]="{'justify-end': chatmessage.senderId === instructorId}"
        class="flex mb-2">
        <div *ngIf="chatmessage.senderId === instructorId; else otherMessage"
          class="bg-white shadow rounded-lg rounded-tr-sm py-1 pl-4 min-w-16 max-w-lg text-gray-800 break-words">
          <span class="pr-4">{{ chatmessage.message }}</span>
          <div class="text-end text-xxs mr-1 text-gray-500 mt-1">{{ chatmessage.timestamp | date:'shortTime' }}</div>
        </div>
        <ng-template #otherMessage>
          <div class="bg-indigo-500 text-white shadow rounded-lg rounded-tl-sm py-1 pl-2 min-w-16 max-w-lg break-words">
            <span class="pr-4">{{ chatmessage.message }}</span>
            <div class="text-end text-xxs mr-2 text-indigo-200 mt-1">{{ chatmessage.timestamp | date:'shortTime' }}
            </div>
          </div>
        </ng-template>
      </div>

    </div>
    <div class="border-t border-gray-200 p-4 bg-indigo-50">
      <div class="flex">
        <div
          class="w-full mr-2 px-4 py-3 flex border-none text-sm font-medium bg-indigo-100 text-indigo-400 placeholder:text-indigo-500 rounded-lg">
          <input [(ngModel)]="newMessage" type="text" placeholder="Type your message..."
            class="w-11/12 border-none text-sm font-medium bg-indigo-100 text-indigo-500 placeholder:text-indigo-500 rounded-full">
        </div>
        <button (click)="sendMessage()"
          class="bg-indigo-400 border-none text-white px-3 pt-2 rounded-full hover:cursor-pointer hover:bg-indigo-500"><lucide-icon
            name="send"></lucide-icon></button>
      </div>
    </div>
  </div>
</div>