<div (click)="closeDropdownOutsideClick($event)">
    <div class="px-4 py-4 flex justify-between">
        <div class="p-0">
            <h2 class="text-2xl font-semibold text-indigo-600">Courses</h2>
        </div>
        <div class="w-36 mt-2">
            <button (click)="navigateToAddCourse()"
                class="w-full bg-indigo-600 text-white text-base p-3 rounded-md hover:cursor-pointer border-none border-blue-100 hover: hover:bg-indigo-700 focus:outline-none">New
                Course</button>
        </div>
    </div>
    <div class="px-4">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        No
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Name
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Category
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Price
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Active
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Status
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-bold text-gray-900 uppercase tracking-wider">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                <tr #tablerow id="tablerow" *ngFor="let course of courses; let i = index">
                    <td class="px-6 py-3 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ i + 1 }}</div>
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ course.coursename }}</div>
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ course.category }}</div>
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap">
                        <div class="text-sm font-medium text-gray-500">{{ course.price }}</div>
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap">
                        <span *ngIf="course.isActive"
                            class="bg-green-100 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">ACTIVE</span>
                        <span *ngIf="!course.isActive"
                            class="bg-red-100 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">INACTIVE</span>
                    </td>
                    <td class="px-6 py-3 whitespace-nowrap">
                        <span *ngIf="!course.isBlocked"
                            class="bg-green-100 text-green-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">ACTIVE</span>
                        <span *ngIf="course.isBlocked"
                            class="bg-red-100 text-red-500 text-xs font-medium me-2 px-2.5 py-0.5 rounded">BLOCKED</span>
                    </td>
                    <td class="px-6 py-3 whitespace-pre-wrap flex">
                        <div class="relative">
                            <button id="dropdownDefaultButton{{i+1}}" type="button" (click)="toggleDropdown(i+1, $event)"
                                class="bg-white hover:bg-gray-100 hover:cursor-pointer border-none focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2">
                                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 4 16">
                                    <circle cx="2" cy="2" r="2" fill="currentColor" class="text-gray-500" />
                                    <circle cx="2" cy="8" r="2" fill="currentColor" class="text-gray-500" />
                                    <circle cx="2" cy="14" r="2" fill="currentColor" class="text-gray-500" />
                                </svg>
                                <span class="sr-only">Icon description</span>
                            </button>
                            <div id="dropdown{{i+1}}" [ngClass]="{ 'hidden': !isDropdownOpen[i+1], 'dropdown-menu': true }"
                                class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded-md overflow-hidden z-10">
                                <a href="#" class="block px-4 py-2 text-sm no-underline text-gray-700 hover:bg-gray-100">Edit</a>
                                <a href="#" class="block px-4 py-2 text-sm no-underline text-gray-700 hover:bg-gray-100">Delete</a>
                            </div>
                        </div>
                        <!-- <button *ngIf="course.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-green-500 rounded-lg border-none hover:bg-green-600 focus:ring-4 focus:outline-none">Unblock</button>
                                <button *ngIf="!course.isBlocked" type="button" class="px-3 py-2 text-sm font-medium text-center cursor-pointer text-white bg-red-500 rounded-lg border-none hover:bg-red-600 focus:ring-4 focus:outline-none">Block</button> -->
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>