<!-- <div class="h-screen bg-gray-200">
    <div class="h-screen fixed m-4 px-6 bg-white rounded-md text-indigo-600">
        <div class="flex items-center justify-center mt-6">
            <div class="flex items-center">
                <span class="text-2xl mx-2 font-bold">Admin Dashboard</span>
            </div>
        </div>
        <nav class="mt-10">
            <a routerLink="/admin/dashboard"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-600 hover:bg-indigo-600 hover:text-white">
                <span class="mx-3 text-lg font-semibold">Dashboard</span>
            </a>
            <a routerLink="/admin/students"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-600 hover:bg-indigo-600 hover:text-white">
                <span class="mx-3 text-lg font-semibold">Students</span>
            </a>
            <a routerLink="/admin/dashboard"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-600 hover:bg-indigo-600 hover:text-white">
                <span class="mx-3 text-lg font-semibold">Instructors</span>
            </a>
            <a routerLink="/admin/dashboard"
                class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-600 hover:bg-indigo-600 hover:text-white">
                <span class="mx-3 text-lg font-semibold">Courses</span>
            </a>
        </nav>
    </div>
</div> -->

<div class="p-4">
    <span class="text-2xl mx-2 font-semibold  text-indigo-600">Admin Dashboard</span>
    <nav class="mt-10">
        <a routerLink="/admin/dashboard"
            class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
            <span class="mx-3 text-lg font-semibold">Dashboard</span>
        </a>
        <a  routerLink="/admin/student"
            class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
            <span class="mx-3 text-lg font-semibold">Students</span>
        </a>
        <a routerLink="/admin/dashboard"
            class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
            <span class="mx-3 text-lg font-semibold">Instructors</span>
        </a>
        <a routerLink="admin/dashboard"
            class="flex items-center rounded-md mt-4 py-4 pl-2 no-underline text-indigo-500 hover:bg-indigo-100 hover:text-indigo-600">
            <span class="mx-3 text-lg font-semibold">Courses</span>
        </a>
    </nav>
</div>